*{
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr;
}

.title {
    border: 1px solid black;
    grid-column: 1/ 3 ;
    grid-row: 1 / 2;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
}

.sidebar {
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;    height: 90vh;
    grid-column: 1/ 2 ;
    grid-row: 2 / 3;
    border: 1px solid black;
}

.sidebar h2 {
    margin: 1rem;
}

.sidebar p {
    margin: 1rem;
}

.sidebar button {
    border-radius: 10%;
    height: 3rem;
    width: 9rem;
    margin: 1rem;
    font-size: 1rem;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.content {
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%); background-blend-mode: normal, normal, screen, overlay, normal;
    grid-column: 2/ 3 ;
    grid-row: 2 / 3;
    width: 85vw;
    display: flex;
    flex-direction: column;
}

.content p {
    margin: 1rem;
    display: flex;
}

.content .new-task-btn {
    margin: 3rem;
    height: 3rem;
    width: 9rem;
    font-size: 1rem;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    border-radius: 10%;
}

.task {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem;
    min-width: 600px;
}

.task button {
    height:2rem;
    width: 5rem;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); 
    border-radius: 10%;
}

.task .btn-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}